/* body {
    background: #985bda;
} */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    background-image: linear-gradient(to right, #c186ff, #f1de32);
    border-radius: 40px;

}

.login-form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 50vh;
}

.login-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.login-button {
    padding: 10px;
    font-size: 16px;
    background-color: #371adb;
    color: white;
    border: none;
    cursor: pointer;
}